# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# Model weights and datasets
dataset/
model/model_weights.pth
model/training_history.png

# Jupyter Notebook
.ipynb_checkpoints

# IDE files
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db 